 html, 
body {
  margin: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background: green;
  box-sizing: border-box;
  border: 5px solid white;
}

.wall { 
   background-color: rgba(34, 12, 236, 0.918); 
}

.power-pellet {
  background-color: blue;
  border-radius: 7.5px;
}

.pacman {
  background-color: yellow;
  border-radius: 7.5px;
  border: none;
} 

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: turquoise;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: royalblue;
  border: none;
}
 